header {
    background-color: black;
    height: 100%;
    color: white;
}
.line  {
    position: relative;
    top: 50%;
    border: 2px solid white;
}
.typewriter {
    position: relative;
    text-align: center;
    top: 40%;
    font-size: 30px;
}