.no {
  height: 60px;
  line-height: 60px;
  background-color: rgb(173, 2, 173);
  margin-top: 20px;
  border-bottom: 0;
  border-radius: 5px;
  text-align: center;
  align-content: center;
  position: fixed;
  
}